.mainContainer {
    background-image: url("../Images/abstract-antique-backdrop-background-129731.jpg");
}

.labels {
    padding-top: 2em;
    text-align: center;
}

#stmtUp {
    font-family: "Arial Rounded MT", sans-serif;
    font-size: 3.5em;
    color: #aaaaaa;
    text-shadow: 2px 2px #6b6b6b;
}

#stmtDown {
    font-family: "Nirmala UI", sans-serif;
    font-size: 1.5em;
    color: #ba9b3c;
    text-shadow: 1px 1px #f2e355;
}

.contAndForm {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: center;
}

.contAndForm form {
    width: 30%;
}


#cont {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

#form {
    width: 100%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

#form span {
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: "Nirmala", sans-serif;
}

#form input {
    height: 20px;
}

#message {
    height: 300px;
    resize: none;
}

#contact {
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px grey;
}

#email {
    font-size: 1.4em;
    color: #2e2e2e;
}

#sendButton {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #8ed45b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    color: white;
}

#sendButton:hover {
    background-color: #76cf36;
}

.menuTrigger {
    margin-top: 0.2em;
}

@media only screen and (max-width: 930px) {
    .contAndForm {
        flex-direction: column;
        align-items: center;
    }

    #cont {
        margin: 0;
        align-items: center;
    }

    #form {
        margin: 0;
        width: 330px;
    }

    #email {
        margin-bottom: 2em;
    }

    .contAndForm form {
        width: 330px;
    }
}

@media only screen and (max-device-width: 600px) {

    .contAndForm {
        flex-direction: column;
        align-items: center;
    }

    #cont {
        margin: 0;
        align-items: center;
    }

    #form {
        margin: 0;
        width: 100%;
    }

    #email {
        margin-bottom: 2em;
    }

    .contAndForm form {
        width: 80%;
    }
}